body > h1, h2 {
  text-align: center;
}

form {
  text-align: center;
}

form div input {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

td {
  margin: 0;
  border: 0px #fff solid;
}

td.empty-cell {
  background: #777;
}

td:not(.empty-cell) {
  cursor: pointer;
}

.modal-body img {
  width: 100%;
}
